---
layout: main
id: "films"
title: "Films"
header: "Films"

---

<section>

  <div class="container-fluid">

    {% for eachfilm in site.films %}
    <div class="row row-limit item-film" id="{{ eachfilm.id }}">

      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <h2>{{ eachfilm.name }}</h2>
        <span>Directed by {{ eachfilm.director }}</span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">

          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <img class="img-responsive" src="{{ site.baseurl }}/images/{{ eachfilm.image }}">
            <div class="item-film-details">
              <span style="font-weight:900">{{ eachfilm.category }} ({{ eachfilm.runtimeMins }} mins)</span>
              {% for eachschedule in eachfilm.schedule %}
              <span>{{ eachschedule.date }} | {{ eachschedule.venue }}</span>
              <span>{% for eachtime in eachschedule.time %}{{ eachtime }}{% if forloop.last != true %}, {% endif %}{% endfor %}</span>
              {% endfor %}
            </div>

          </div>

          <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
            <p>{{ eachfilm.plot }}</p>
          </div>

        </div>

      </div>



    </div>
    {% endfor %}

  </div>

</section>
