/* PRELIMS/GENERAL */

body {
  background: #ff7bac; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ff7bac, #fc5a97); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ff7bac, #fc5a97); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ff7bac, #fc5a97); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ff7bac, #fc5a97); /* Standard syntax */
}

* {
  color: white;
}

h1 {
  text-transform: uppercase;
}

h1, h2 {
  font-family: 'Novecentowide';
  font-weight: bold;
}

.h1-page-header {
  margin-top: 0;
  text-align: center;
}

h2+span {
  font-size: 1.2em;
  font-family: 'Avenir Next';
}

p {
  font-size: 1.2em;
  font-family: 'Avenir Next';
  line-height: 1.5em;
  text-align: justify;
}

.page-content>section:not(:last-child):not(#section-jumbotron) {
  padding-bottom: 50px;
}


.page-content>section:last-child:not(#section-jumbotron) {
  padding-bottom: 100px;
}

/* HEADER */

.km-navbar {
  background: linear-gradient(180deg,rgb(255, 123, 172),rgba(255, 123, 172, 0));
}

.km-navbar-collapse * {
  /* set font here */
  font-family: 'Novecentowide';
}


.km-navbar-left,
.km-navbar-right {
  width: calc((100% - 140px) / 2);
}

.km-navbar-left {
  text-align: right;
}

.km-navbar-brand {
  width: 120px;
}

.km-navbar-brand img {
  max-width: 100%;
}

.km-navbar-right {
  text-align: left;
}


.km-navbar-left>ul>li{
  margin-right: 25px;
}
.km-navbar-left>ul>li:last-child {
  margin-right: 42.5px;
}
.km-navbar-right>ul>li:first-child {
  margin-left: 42.5px;
}
.km-navbar-right>ul>li{
  margin-left: 25px;
}

.km-navbar-grouping>li>ul>li>a {
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 3px 0;
  padding: 8px 6px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none !important;
}

.km-navbar-grouping>li>ul>li>a {
  border-color: transparent;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.km-navbar-grouping>li>ul>li:hover>a,
.km-navbar-grouping>li>ul>li:focus>a {
  border-color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.km-navbar-dropdown {
  min-width: 75px;
  padding-top: 10px;
}

.km-navbar-grouping>li>ul>li>.km-navbar-dropdown {
  overflow-y: hidden;
}

.km-navbar-grouping>li>ul>li>.km-navbar-dropdown {
  max-height: 0px;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.km-navbar-grouping>li>ul>li:hover>.km-navbar-dropdown,
.km-navbar-grouping>li>ul>li:focus>.km-navbar-dropdown {
  max-height: 70px;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.km-navbar-grouping>li>ul>li>.km-navbar-dropdown>li>a {
  font-weight: 100;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.km-navbar-grouping>li>ul>li>.km-navbar-dropdown>li:hover>a,
.km-navbar-grouping>li>ul>li>.km-navbar-dropdown>li:focus>a {
  font-weight: bold;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.km-navbar-dropdown li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
}


/* HOME */

.slick-jumbotron-panel {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slick-jumbotron-panel .row {
  height: calc(100vh - 171px);
}

.slick-jumbotron-panel .row>div {
  height: 100%;
  position: relative;
  display: inline-block;
}

.slick-jumbotron-panel-text {
  position: absolute;
  bottom: 100px;
  right: 15px;
}

.slick-jumbotron-panel-text h1 {
  text-transform: uppercase;
  /* set font here */
  font-size: 7em;
}

.slick-jumbotron-panel-text h1 small {
  color: white;
  display: block;
  /* set font here */
  font-size: 0.25em;
}





/* PROGRAM - KEPS */

.item-keps {
  margin-bottom: 50px;
}

.item-keps:first-of-type {
  /*margin-top: 50px;*/
}

.item-keps:last-of-type {
  margin-bottom: 100px;
}

section:last-of-type .item-keps:last-of-type {
  margin-bottom: 0px;
}

.item-keps,
.item-keps * {
  /*color: white;*/
}

.item-keps h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0px;
}

.item-keps h2+span {
  margin-bottom: 10px;
}

.item-keps img {
  margin-bottom: 10px;
}

.item-keps p {
  margin-top: 15px;
  margin-bottom: 15px;
}





/* FILMS */

.item-film {
  margin-bottom: 50px;
}

.item-film:first-of-type {
  /*margin-top: 50px;*/
}

.item-film:last-of-type {
  margin-bottom: 100px;
}

section:last-of-type .item-film:last-of-type {
  margin-bottom: 0px;
}

.item-film,
.item-film * {
  /*color: white;*/
}

.item-film h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0px;
}

.item-film h2+span {
  margin-bottom: 10px;
}

.item-film img {
  margin-bottom: 10px;
}

.item-film p {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* FILMS - TRAILERS*/

.item-trailer {
  margin-bottom: 50px;
}

.item-trailer:first-of-type {
  /*margin-top: 50px;*/
}

.item-trailer:last-of-type {
  margin-bottom: 100px;
}

section:last-of-type .item-trailer:last-of-type {
  margin-bottom: 0px;
}

.item-trailer,
.item-trailer * {
  /*color: white;*/
}

.item-trailer h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0px;
}

.item-trailer h2+span {
  margin-bottom: 10px;
}

.item-trailer img {
  margin-bottom: 10px;
}

.item-trailer p {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* FILMS - SCHEDULE */

.table-schedule {

}

.table-schedule tr:first-of-type {

}


.table-schedule tr:first-of-type th {
  border: none;
  text-transform: uppercase;
}

.table-schedule tr:first-of-type th:first-of-type {

}

.table-schedule tr:first-of-type th:not(:first-of-type) {
  font-weight: normal;
}

.table-schedule tr:not(:first-of-type) {

}

.table-schedule tr:not(:first-of-type) td {
  text-transform: uppercase;
}

.table-schedule tr:not(:first-of-type) td:first-of-type {
  border: none;
}

.table-schedule tr:not(:first-of-type) td:not(:first-of-type) {
  border-style: solid;
  border-width: 3px 0 3px 3px;
  border-color: white;
}

.table-schedule tr:not(:first-of-type) td:not(:first-of-type):last-of-type {
  border-width: 3px;
}

.table-schedule tr:not(:first-of-type) td:not(:first-of-type) span {

}

.table-schedule tr:not(:first-of-type) td:not(:first-of-type) a {
  cursor: pointer;
  text-decoration: none;
}

.table-schedule tr:not(:first-of-type) td:not(:first-of-type) .span-title {
  font-weight: bold;
}

.table-schedule tr:not(:first-of-type) td:not(:first-of-type) .span-director {

}

/* FILMS - TICKETS */

#form-tickets #btn-addfilm {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

#form-tickets .btn-default {
  display: block;
  margin-left: auto;
  background: none;
  box-shadow: none;
  text-shadow: none;
  font-weight: 900;
  text-transform: uppercase;
  color: white;

  border-style: solid;
  border-color: transparent;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px 8px;
  color: white;
}

#form-tickets .btn-default {
  border-color: transparent;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

#form-tickets .btn-default:hover,
#form-tickets .btn-default:focus {
  border-color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}





/* CONTACT */

#form-contact input,
#form-contact textarea {
  box-shadow: none;
  border: none;
}

#form-contact textarea {
  resize: vertical;
}

#form-contact .btn-default {
  display: block;
  margin-left: auto;
  background: none;
  box-shadow: none;
  text-shadow: none;
  font-weight: 900;
  text-transform: uppercase;
  color: white;

  border-style: solid;
  border-color: transparent;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px 8px;
  color: white;
}

#form-contact .btn-default {
  border-color: transparent;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

#form-contact .btn-default:hover,
#form-contact .btn-default:focus {
  border-color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

#section-contact .row {
  border-style: solid;
  border-width: 2px 0 0 0;
  padding-top: 35px;
}

#section-contact h1+div {
  padding-left: 15px;
}

/* FOOTER */

footer {
  background: linear-gradient(0deg,rgb(252, 90, 151),rgba(252, 90, 151, 0));
}
