/* PRELIMS/GENERAL */

body {
  background: #ff7bac; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ff7bac, #fc5a97); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ff7bac, #fc5a97); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ff7bac, #fc5a97); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ff7bac, #fc5a97); /* Standard syntax */
}

* {
  color: white;
}

.h1-page-header {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.page-content>section:last-child:not(#section-jumbotron) {
  padding-bottom: 100px;
}

/* HEADER */

.km-navbar-collapse * {
  /* set font here */
}


.km-navbar-left,
.km-navbar-right {
  width: calc((100% - 130px) / 2);
}

.km-navbar-left {
  text-align: right;
}

.km-navbar-brand {
  width: 120px;
}

.km-navbar-brand img {
  max-width: 100%;
}

.km-navbar-right {
  text-align: left;
}

.km-navbar-grouping li ul li a {
  border-style: solid;
  border-color: transparent;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px 8px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none !important;
}

.km-navbar-grouping li ul li:hover a,
.km-navbar-grouping li ul li:focus a {
  border-color: white;
}


/* HOME */

.slick-jumbotron-panel {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slick-jumbotron-panel .row {
  height: calc(100vh - 171px);
}

.slick-jumbotron-panel .row>div {
  height: 100%;
}

.slick-jumbotron-panel-text {
  position: absolute;
  bottom: 0;
}

.slick-jumbotron-panel-text h1 {
  padding-left: 60px;
  text-transform: uppercase;
  /* set font here */
}

.slick-jumbotron-panel-text h1 small {
  color: white;
  display: block;
  /* set font here */
}

/* FILMS */

.item-film {
  margin-bottom: 50px;
}

.item-film:first-of-type {
  /*margin-top: 50px;*/
}

.item-film:last-of-type {
  margin-bottom: 100px;
}

section:last-of-type .item-film:last-of-type {
  margin-bottom: 0px;
}

.item-film,
.item-film * {
  /*color: white;*/
}

.item-film h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0px;
}

.item-film h2+span {
  margin-bottom: 10px;
}

.item-film img {
  margin-bottom: 10px;
}

.item-film p {
  margin-top: 15px;
  margin-bottom: 15px;
}

#form-contact input,
#form-contact textarea {
  box-shadow: none;
  border: none;
}

#form-contact textarea {
  resize: vertical;
}

#form-contact button {
  display: block;
  margin-left: auto;
  background: none;
  box-shadow: none;
  text-shadow: none;
  font-weight: 900;
  text-transform: uppercase;
  color: white;

  border-style: solid;
  border-color: transparent;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px 8px;
  color: white;
}

#form-contact button:hover,
#form-contact button:focus {
  border-color: white;
}
