/* NAVBAR CENTERED BRAND */

/*@media screen and (min-width:768px) {*/ /* Uncomment 1/2 if you want the brand to float right on x-small screens */
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    z-index: 1;
    /*width: 160px;*/
    text-align: center;
    background-color: transparent;
  }

  .navbar>.container .navbar-brand-centered, 
  .navbar>.container-fluid .navbar-brand-centered {
    /*margin-left: -80px;*/
  }
/*}*/ /* Uncomment 2/2 if you want the brand to float right on x-small screens */

/* NAVBAR SHOW DROPDOWN ON HOVER */

/*
@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
      display: block;    
  }
}
*/


/* NAVBAR CUSTOMIZATION */
.navbar {
  z-index: 1;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .navbar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar-default {
    border-style: none;
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .navbar-brand-centered {
    width: 120px;
    margin-top: -30px;
    padding: 0;
  }
  .navbar>.container .navbar-brand-centered, 
  .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -60px;
  }
  .navbar-left,
  .navbar-right {
    width: calc((100% / 2) - 60px);
    margin: 0;
  }
  .navbar-left>ul {
    float: right;
  }
  .navbar-right>ul {
    float: left;
  }
}

@media (max-width: 767px) {
  .navbar-brand-centered {
    width: 120px;
  }
  .navbar>.container .navbar-brand-centered, 
  .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -60px;
  }
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-left: 5px;
    padding-right: 5px;
    width: 90px;
    height: 60px;
  }

  .navbar .btn.btn-default.btn-lines-1 {
    padding-top: 19px;
  }

  .navbar .btn.btn-default.btn-lines-2 {
    font-size: 0.75em;
    line-height: 1.25em;
    padding-top: 17px;
  }

  .navbar-nav>li.dropdown>ul {
    border-style: none;
  }
}

/*@media (min-width: 768px) and (max-width: 991px)*/
@media (min-width: 768px) and (max-width: 1141px) {
  /*.navbar-left>.navbar-nav>li:not(:last-of-type)>a*/
  .navbar-left>.navbar-nav>li {
    margin-right: 5px !important;
    -webkit-transition: margin-right 250ms ease-out;
    -moz-transition: margin-right 250ms ease-out;
    -o-transition: margin-right 250ms ease-out;
    transition: margin-right 250ms ease-out;
  }

  /*.navbar-right>.navbar-nav>li:not(:first-of-type)>a*/
  .navbar-right>.navbar-nav>li {
    margin-left: 5px !important;
    -webkit-transition: margin-left 250ms ease-out;
    -moz-transition: margin-left 250ms ease-out;
    -o-transition: margin-left 250ms ease-out;
    transition: margin-left 250ms ease-out;
  }
}

@media (min-width: 992px) {
  /*.navbar-left>.navbar-nav>li:not(:last-of-type)>a*/
  .navbar-left>.navbar-nav>li {
    margin-right: 30px;
    -webkit-transition: margin-right 250ms ease-out;
    -moz-transition: margin-right 250ms ease-out;
    -o-transition: margin-right 250ms ease-out;
    transition: margin-right 250ms ease-out;
  }

  /*.navbar-right>.navbar-nav>li:not(:first-of-type)>a*/
  .navbar-right>.navbar-nav>li {
    margin-left: 30px;
    -webkit-transition: margin-left 250ms ease-out;
    -moz-transition: margin-left 250ms ease-out;
    -o-transition: margin-left 250ms ease-out;
    transition: margin-left 250ms ease-out;
  }
}


/* CONTENT */

.page-content {
  padding-top: 75px;
}

@media (min-width: 768px) {
  .page-content {
    min-height: calc(100vh - 120px);
  }
}

.section-body>section {
  padding-top: 75px;
}

.row.row-limit {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.row.row-limit-wide {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.row.row-limit-small {
  max-width: 768px
}

.slick-jumbotron-panel {
  padding-top: 170px;
  min-height: calc(100vh - 1px);
  /*margin-bottom: -120px;*/
}

.slick-jumbotron-panel-text h1 {
  line-height: 0.9em;
}


.page-content>section:last-child:not(#section-jumbotron) {
  padding-bottom: 45px;
}

/* FOOTER */


footer {
  /*
  position: fixed;
  bottom: 0;
  width: 100%;
  */
}

#section-footer-contact>span {
  display: block;
}

#section-footer-links ul,
.section-footer-social ul {
  list-style: none;
  padding-left: 0;
}

#section-footer-links ul li,
#section-footer-social ul li {
  display: inline;
}

/* BACK TO TOP */

.button-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
}