<style>

/* MONTSERRAT */

@font-face {
  font-family: 'Montserrat';
  src: url('{{ site.baseurl }}/fonts/Montserrat/Montserrat-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('{{ site.baseurl }}/fonts/Montserrat/Montserrat-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
}



/* AVENIR */

@font-face {
  font-family: 'Avenir';
  src: url('{{ site.baseurl }}/fonts/Avenir/Avenir-Roman.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('{{ site.baseurl }}/fonts/Avenir/Avenir-Oblique.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('{{ site.baseurl }}/fonts/Avenir/Avenir-Heavy.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('{{ site.baseurl }}/fonts/Avenir/Avenir-HeavyOblique.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: bold;
}



/* AVENIR NEXT */

@font-face {
  font-family: 'Avenir Next';
  src: url('{{ site.baseurl }}/fonts/Avenir Next/AvenirNext-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('{{ site.baseurl }}/fonts/Avenir Next/AvenirNext-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('{{ site.baseurl }}/fonts/Avenir Next/AvenirNext-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('{{ site.baseurl }}/fonts/Avenir Next/AvenirNext-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: bold;
}



/* NOVECENTOWIDE */

@font-face {
  font-family: 'Novecentowide';
  src: url('{{ site.baseurl }}/fonts/Novecentowide/Novecentowide-Light.otf')  format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 100;
}



@font-face {
  font-family: 'Novecentowide';
  src: url('{{ site.baseurl }}/fonts/Novecentowide/Novecentowide-Normal.otf')  format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'Novecentowide';
  src: url('{{ site.baseurl }}/fonts/Novecentowide/Novecentowide-Bold.otf')  format('opentype'), /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
}


</style>
