<footer>
  <div class="container-fluid">
    <div class="row row-limit">


      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <section id="section-footer-contact">
        	<span>
            University of the Philippines<br/>
            <span>Business Administration Council</span>
          </span>
          <span>
            College of Business Administration<br/>
            University of the Philippines Diliman<br/>
            1101 Quezon City
          </span>
        </section>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <section id="section-footer-links">
      	  <span>Quick Links</span>
          <ul>
            <li><a>UP</a></li>
            <li><a>CBA</a></li>
            <li><a>CRS</a></li>
          </ul>
        </section>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <section id="section-footer-social">
          <span>Connect with Us</span>
          <ul>
            <li><a>FB</a></li>
            <li><a>TW</a></li>
            <li><a>YT</a></li>
          </ul>
        </section>

      </div>


    </div>
  </div>
</footer>
