<footer{% if page.title == "Home" %} class="footer-home"{% endif %}>
  <div class="container-fluid" style="padding-top:30px;">
    <div class="row row-limit">
      <div class="col-lg-12 text-center" style="padding-top: 15px;padding-bottom: 15px;border-style: solid;border-width: 2px 0 0 0;border-color:white;">
        {% for eachsponsor in site.sponsors %}
        <img class="img-responsive" style="max-width:50px;display:inline-block" src="{{ site.baseurl }}/images/{{ eachsponsor.logo }}">
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
