---
layout: main
id: "vision_mission"
title: "Vision and Mission"
header: "Vision and Mission"

slick: false
---

<section class="section-body">

  <div class="container-fluid">

    <div class="row row-limit">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs 12">
        {% if site.switchPanels %}<div class="panel panel-default panel-filler panel-filler-wide" style="height:480px;">{% endif %}
          <span>Vision</span>
        {% if site.switchPanels %}</div>{% endif %}

      </div>
    </div>

    <div class="row row-limit">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs 12">
        {% if site.switchPanels %}<div class="panel panel-default panel-filler panel-filler-wide" style="height:480px;">{% endif %}
          <span>Mission</span>
        {% if site.switchPanels %}</div>{% endif %}
      </div>
    </div>

  </div>

</section>
