---
layout: main
id: "opening"
title: "Opening"
header: "Opening"

---

<section>

  <div class="container-fluid">

    {% for eachfilm in site.films %}
    <div class="row row-limit item-trailer">

      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <img class="img-responsive" src="{{ site.baseurl }}/images/{{ eachfilm.image }}">
      </div>

      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
        <h2>{{ eachfilm.name }}</h2>
        <span>
          {% for eachschedule in eachfilm.schedule %}
            {% if eachschedule.special and eachschedule.special == "opening" %}
            {{ eachschedule.date }}, 2016
            {% endif %}
          {% endfor %}
        </span>
        <p>{{ eachfilm.plot }}</p>
      </div>

    </div>
    {% endfor %}

  </div>

</section>
